cache
pkgs
app/__pycache__
app/config/__pycache__
database/common/__pycache__
database/tables/__pycache__
gui/displays/__pycache__
gui/keyboards/__pycache__
machine/__pycache__
machine/actions/__pycache__
machine/stats/__pycache__
models/tg/__pycache__
models/tg/bot/__pycache__
models/tg/tools/__pycache__
models/tg/types/__pycache__
models/tg/types/exclude/__pycache__
models/tg/types/none/__pycache__
models/tg/types/note/__pycache__
models/tg/types/note_name/__pycache__
utils/__pycache__