[Unit]
Description=Remote-PC
After=network-online.target
[Service]
Type=simple
User=leonid
Environment="DISPLAY=:0"
WorkingDirectory=/home/leonid/programm/Remote-PC/
ExecStart=/home/leonid/programm/Remote-PC/Remote-PC
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
